.weather-app {
  max-width: 800px;
  margin: 10px auto;
  padding: 30px;
  padding-bottom: 0px;
  border: 1px solid #cbddd1;
  border-radius: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgba(196, 223, 212, 0.12);
}

.city {
  font-size: 55px;
  font-weight: 600;
  margin-top: 50px;
}
.date {
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.time {
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.temperature {
  font-size: 40px;
  font-weight: 600;
  position: relative;
  left: -20px;
}

.display-today {
  background-color: rgba(180, 187, 189, 0.22);
  border-radius: 25px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  color: rgb(60, 65, 63);
}
.today-parameters {
  margin-top: 50px;
  font-size: 17px;
}
.picture {
  padding-top: 70px;
}
.value {
  font-weight: 700;
  font-size: 14px;
  position: relative;
  right: 10px;
}
.col-2 {
  border: 1px solid rgb(226, 248, 248);
  border-radius: 45px 45px 0px 0px;
  padding-bottom: 10px;
  padding-top: 25px;
  text-align: center;
  background-color: #cbddd1;
  font-size: 17px;
  color: rgb(96, 104, 101);
}

.day {
  font-weight: 500;
}

.search-input {
  background-color: white;
  border: 1px solid rgb(207, 201, 201);
  border-radius: 3px 3px;
  position: relative;
  left: 100px;
  width: 350px;
}
.button {
  border: 1px solid #b5c4b5;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px 6px;
  color: rgb(96, 104, 101);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.search-button {
  position: relative;
  left: 220px;
}
.button-current {
  border: 1px solid #b5c4b5;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px 6px;
  color: rgba(96, 104, 101, 01);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.current-button {
  position: block;
  left: 560px;
  top: -28px;
}
.units {
  font-size: 40px;
  font-weight: 600;
  position: relative;
  top: -60px;
  left: 25px;
}

.windValue {
  position: relative;
  top: -37px;
  left: 20px;
}
.humidityValue {
  position: relative;
  top: -38px;
  left: 15px;
}
.link {
  text-align: center;
}
