.weather-app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 10px;
  border: 1px solid #cbddd1;
  border-radius: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #eadeb8;
}

.city {
  font-size: 50px;
  font-weight: 600;
  margin-top: 50px;
  text-align: center;
}
.date {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.time {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.temperature {
  font-size: 40px;
  font-weight: 600;
  position: relative;
  left: -20px;
}

.display-today {
  background-color: rgba(160, 159, 87, 0.6);
  border-radius: 25px;
  text-align: center;
  margin: 20px;
  color: rgb(60, 65, 63);
}
.today-parameters {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
  font-size: 17px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  font-weight: 700;
}
.picture {
  padding-top: 70px;
}

.col-2 {
  border: 1px solid #eadeb8;
  border-radius: 45px 45px 0px 0px;
  padding-bottom: 10px;
  padding-top: 25px;
  text-align: center;
  background-color: #cfb784;
  font-size: 17px;
  color: rgb(60, 65, 63);
}

.day {
  font-weight: 500;
}

.search-input {
  background-color: white;
  border: 1px solid rgb(207, 201, 201);
  border-radius: 3px 3px;
  position: relative;
  left: 100px;
  width: 350px;
}
.button {
  border: 1px solid #b5c4b5;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px 6px;
  color: rgb(96, 104, 101);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.search-button {
  position: relative;
  left: 220px;
}
.button-current {
  border: 1px solid #b5c4b5;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px 6px;
  color: rgba(96, 104, 101, 01);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.current-button {
  position: block;
  left: 550px;
  top: -28px;
}
.units {
  font-size: 40px;
  font-weight: 600;
  position: relative;
  top: -60px;
  left: 25px;
}
.value {
  display: inline;
}
.link {
  text-align: center;
}
